table th{
    text-align: left;
    background-color: rgb(119, 166, 207);
    color: black;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}
table th,
table td{
    border:1px solid brown;
    padding: 10px;
}

table{
    border-spacing:0px; 
    border-collapse: collapse;
    width:100%;
}
table tbody tr:nth-child(odd) td{
    background-color: rgb(216, 132, 29);
}